@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #BCBCBC33;
}

body, button, input {
    font-family: "Montserrat", sans-serif;
}

.invisible {
    display: none;
}

.container_768 {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
    margin: 0 auto;
}

.head_fixed_block {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.running_line-container {
    padding: 0;
}

.running_line_color {
    background: linear-gradient(90deg, #4A9F5D 0%, #4160A9 100%);
}

.running_line {
    width: 100%;
    height: 25px;
    color: #fff;
    font-size: 11px;
    display: flex;
    align-items: center;
    font-weight: 500;
    overflow: hidden;
}

.running_line-text {
    max-width: 768px;
    background-image: url("../imgs/green_ellipse.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    margin-right: 30px;
    animation: nudge 10s linear 1s infinite;
    flex: 0 0 100%;
}

@keyframes nudge {
  0% { transform: translatex(0); }
  100% { transform: translatex(-100%); }
}

.head_block {
    background-color: #fff;
    padding-top: 15px;
}

.phone_block {
    padding-bottom: 5px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 7px;
}

.phone_link {
    font-size: 16px;
    color: #375F99;
    text-decoration: none;
    font-weight: 500;
}

.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.logo {
    height: 30px;
}

.icons_block {
    display: flex;
}

.social_link:nth-child(n+2) {
    margin-left: 9px;
}

.search_btn,
.socials_block {
    margin-right: 32px;
}

.search_btn,
.burger_btn {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    width: 32px;
    background-position: center center;
    cursor: pointer;
}

.search_btn {
    background-image: url("../imgs/search.svg");
}

.burger_btn {
    background-image: url("../imgs/burger_button.svg");
}

.burger_menu {
    display: none;
}

.head_block.open .burger_btn {
    opacity: 0;
    transition: opacity 0.5s;
}

.head_block.open .burger_menu {
    transform: translateX(-100%);
    visibility: visible;
}

.burger_menu {
    position: absolute;
    right: -70%;
    top: 0;
    width: 70%;
    background: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%);
    visibility: hidden;
    padding-bottom: 170px;
    transition: transform .5s, visibility .5s;
    z-index: 2;
}

.bm_top-block {
    background-color: #fff;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.bm_logo {
    width: 130px;
}

.burger_close_btn {
    background-image: url("../imgs/close_menu.png");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.bm_list {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

.burger_menu,
.bm_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bm_list-item {
    padding: 10px 5px;
}

.bm-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.bm_phone {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
}

.burger_socials_block {
    margin-top: 20px;
}

.burger_social {
    width: 45px;
}

    /* .drop-down_menu {
    display: none;
    background-color: #F5F8FE;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    right: -45%;
    top: 70%;
}

.dd_menu-list {
    list-style-type: none;
    padding-left: 0;
}

.ddm_list-item:nth-child(n+2) {
    margin-top: 10px;
}

.ddm_list-item {
    text-align: center;
}

.ddm-link {
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 300;
}

.item-cards:hover .drop-down_menu {
    display: block;
} */

.social_link {
    text-decoration: none;
}

.banner_color_block {
    background: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%);
}

.banner_block {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 157px;
    padding-bottom: 60px;
}

.left_banner_block {
    width: 55%;
}

.banner_title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.banner_title_bold {
    font-weight: 500;
}

.banner_text {
    font-size: 10px;
    display: block;
    margin-bottom: 32px;
}

.banner_buttons_block {
    display: flex;
    flex-direction: column;
}

.banner_btn {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    height: 30px;
    width: 142px;
    font-size: 10px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 5px;
}

.banner_btn_tlg {
    background-image: url("../imgs/telegram_mini.svg");
    background-position: right 5px center;
    text-align: left;
    padding-left: 17px;
}

.banner_btn_load {
    background-image: url("../imgs/load.svg");
    background-position: left 12px center;
}

.banner_imgs_block {
    position: relative;
    display: flex;
    align-items: center;
}

.iphone {
    position: absolute;
    right: 0;
    top: 0px;
    width: 135px;
    height: 210px;
    transform: rotate(7deg);
}

.present {
    position: absolute;
    right: 87px;
    top: 90px;
}

.banner_text_2 {
    font-size: 32px;
    text-transform: uppercase;
}

.pogruz_present {
    position: absolute;
    right: -30px;
    top: -20px;
}

.left_banner_block_3 {
    padding-top: 10px;
    z-index: 1;
}

.banner_text_3 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 15px;
}

.banner_text_3-big {
    font-size: 36px;
}

.banner_text_3,
.banner_text_3-big {
    text-transform: uppercase;
}

.scrap_img {
    position: absolute;
    right: 0;
    top: -25px;
    height: 330px;
}

.swiper-pagination {
    margin-top: -30px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 45px) !important;
}

.swiper-pagination-bullet {
    width: 32px !important;
    height: 2px !important;
    border-radius: 0 !important;
    background: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet:nth-child(n+2) {
    margin-left: 20px !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
}

.advantages_block,
.services_block {
    padding: 32px 0 10px;
    border-radius: 32px;
    margin-top: -32px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.advantages {
    display: flex;
    overflow: scroll;
}

.advantages::-webkit-scrollbar {
    width: 0;
}


.advantage {
    width: 106px;
    height: 106px;
}

.load_block {
    background: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%);
}

.load_block {
    padding: 52px 0;
    position: relative;
    z-index: 0;
    margin-top: -32px;
}

.load_field_border {
    padding: 12px;
    border: 1px dashed #fff;
}

.load_field {
    background-color: #fff;
    padding: 20px;
    background-image: url("../imgs/load.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 28px;
    cursor: pointer;
    position: relative;
}

.load_field_border,
.load_field {
    border-radius: 12px;
}

.load_file {
    opacity: 0;
    width: 100%;
    height: 64px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.loaded_field_border {
    margin-bottom: 12px;
}

.loaded_field {
    background-image: url("../imgs/loaded_checkmark.svg");
    cursor: auto;
}

.loaded_file_cb {
    justify-content: center;
}

.services_block {
    padding-bottom: 16px;
}

.services_top-block {
    margin-bottom: 12px;
}

.services_top-block,
.services_top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.services_title_img {
    margin-right: 12px;
}

.button_all {
    width: 47px;
    height: 24px;
    color: #999;
    background-color: #BCBCBC33;
    border: none;
    border-radius: 100px;
    font-size: 10px;
    background-image: url('../imgs/button_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding: 3px 8px;
    text-align: left;
    cursor: pointer;
}

.services {
    display: flex;
    overflow: scroll;
}

.services::-webkit-scrollbar {
    width: 0;
}

.service:nth-child(n+2) {
    margin-left: 8px;
}

.price_button_block {
    padding: 52px 0;
    margin-top: -32px;
    position: relative;
    z-index: 0;
}

.price_button {
    width: 100%;
    border: none;
    background: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    padding: 10px;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_button_icon {
    margin-left: 12px;
}

.advantages_bottom-block,
.prom_block {
    margin-bottom: 8px;
}

.prom_block,
.special_prices_block {
    margin-top: 0;
}

.advantage_bottom:nth-child(n+2), 
.promotion_link:nth-child(n+2) {
    margin-left: 12px;
}

.special_prices {
    padding-top: 7px;
}

.special_prices_top-block {
    position: relative;
    z-index: 0;
}

.special_price_card {
    box-shadow: 0px 4px 4px 0px #0000000F;
    border-radius: 12px;
    margin-bottom: 5px;
    position: relative;
}

.special_price_card:nth-child(n+2) {
    margin-left: 8px;
}

.spc_text-block {
    padding: 17px 8px 8px;
}

.spc_text {
    display: block;
}

.spc_title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.spc_price_title {
    font-size: 12px;
    color: #8D8D8D;
    margin-bottom: 5px;
}

.price_block,
.spc_prices {
    display: flex;
}

.price_block {
    justify-content: space-between;
    align-items: center;
}

.spc_price {
    font-size: 14px;
    margin-right: 12px;
}

.spc_old-price {
    color: #B2B2B2;
    font-size: 14px;
    text-decoration: line-through;
}

.plus_percents {
    position: absolute;
    right: -3px;
    top: -7px;
    color: #fff;
    background-color: #45B567;
    padding: 1px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.plus_percents-bottom {
    color: #fff;
    background-color: #45B567;
    border-radius: 4px;
    padding: 1px;
    width: 34px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}

.special_prices_block {
    margin-bottom: 8px;
}

.platforms_container {
    position: relative;
}

.platforms_block {
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 32px;
}

.grade_widgets {
    display: flex;
}

.grade_widget {
    display: block;
    width: 132px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: 4px 4px 4px 0px #0000000F;
}

.grade_widget:nth-child(n+2) {
    margin-left: 12px;
}

.platforms_top-block,
.localities_block  {
    margin-bottom: 24px;
}

.locality_block {
    border-radius: 100px;
    box-shadow: 4px 4px 4px 0px #0000000F;
    border: 1px solid #FAFAFA;
    padding: 8px 20px;
    text-align: center;
    width: fit-content;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.locality_block_active {
    /* border-image: linear-gradient(113.91deg, #45B567 8.27%, #345F99 99.48%); */
    border: 1px solid #345F99;
}

.locality_spb {
    width: 100%;
    box-sizing: border-box;
    background-image: url('../imgs/arrow_bottom.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
    margin-bottom: 20px;
    margin-right: 0;
}

.stations_block {
    display: flex;
    flex-wrap: wrap;
}

.locality_shushary {
    background-image: url('../imgs/timetable_icon.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    padding-left: 46px;
}

.locality_info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 24px;
}

.locality_time {
    display: block;
    margin-bottom: 12px;
    margin-right: 15px;
}

.locality_info_icon {
    margin-right: 16px;
}

.locality_pass {
    display: block;
    background-image: url('../imgs/blue_dot.svg');
    background-repeat: no-repeat;
    padding-left: 18px;
    background-position: left top 15px;
}

.locality_map_block {
    position: relative;
}

/* .locality_map_block::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 270px;
    background: url('../imgs/map_cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.locality_map {
    width: 100%;
    height: 280px;
    border-radius: 12px;
    border: none;
}

.map_address_block,
.map_icons_block {
    position: absolute;
    box-sizing: border-box;
    background-color: #E9E9E987;
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.map_address_block {
    justify-content: center;
}

.geo_icon {
    margin-right: 12px;
}

.map_icons_block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    bottom: 0;
    padding-bottom: 0;
    overflow: scroll;
}

.map_icons_block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.map_icon {
    cursor: pointer;
}

.map_icon_active {
    width: 60px;
    height: 60px;
}



.map_icon_navigator {
    padding-right: 8px;
    padding-bottom: 8px;
}

.map_icon_active_navigator {
    width: 52px;
    height: 52px;
}

.map_action_link {
    text-decoration: none;
}

.map_icon_action {
    height: 64px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #345F99;
    margin-top: 12px;
    cursor: pointer;
    margin-bottom: 24px;
}

.map_icon_action {
    background-repeat: no-repeat;
    background-position: right 20px center;
    color:#000;
}

.phone_action_right {
    color: #B1B1B1;
    background-image: url('../imgs/phone_icon_gradient.svg');
    background-repeat: no-repeat;
    background-position: right center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 36px;
}

.whatsapp_action {
    background-image: url('../imgs/whatsapp_action_icon.svg');
    background-position: right 10px top 15px;
}

.telegram_action {
    background-image: url('../imgs/telegram_action_icon.svg');
    background-position: right 10px top 15px;
}

.max_action {
    background-image: url('../imgs/max_action_icon.svg');
}

.ymaps_action {
    background-image: url('../imgs/ymaps_action_icon.svg');
}

.map_actions_block {
    display: flex;
    justify-content: space-between;
}

.navigator_action_link {
    width: calc(50% - 5px);
}

.navigator_action {
    background-image: url('../imgs/navigator_action_icon.svg');
}

.twogis_action {
    background-image: url('../imgs/2gis_action_icon.svg');
    background-position: right 10px top 9px;
}

.gmaps_action {
    background-image: url('../imgs/gmaps_action_icon.svg');
    background-position: right 10px top 9px;
}

.slider_photo {
    border-radius: 12px;
    width: 250px;
    height: 150px;
}

.photos_slider_left {
    background-image: url('../imgs/photo_slider_btn_left.svg');
}

.photos_slider_right {
    background-image: url('../imgs/photo_slider_btn_right.svg');
}

.reviews_block {
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 32px;
}

.reviews_top-block {
    margin-bottom: 32px;
}

.reviews_groups {
    display: flex;
    overflow: scroll;
}

.reviews_groups::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.reviews_group:nth-child(n+2) {
    margin-left: 40px;
}

.review {
    display: flex;
    font-size: 14px;
    width: 360px;
}

.review:nth-child(n+2) {
    margin-top: 40px;
}

.review_img {
    margin-right: 16px;
}

.review_username {
    font-weight: 500;
}

.review_text {
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    /* max-height: 34px;*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.review_link {
    color: #45B567;
}

.application_block {
    background: linear-gradient(110.95deg, #45B567 -22.6%, #345F99 58.46%);
    color: #fff;
    margin-top: 0;
    padding-bottom: 32px;
    margin-bottom: 8px;
}

.application_top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.application_block_title {
    text-transform: uppercase;
    margin-right: 8px;
}

.application_text {
    margin-bottom: 20px;
}

.application_text_block {
    font-size: 14px;
}

.application_start_text {
    font-weight: 600;
    font-style: italic;
}

.application_form_btn {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    background-image: url('../imgs/application_btn_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.af_input_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.application_form_input {
    height: 48px;
    padding: 15px 20px;
    border-radius: 100px;
    border: 0.5px solid #FFFFFF4F;
    backdrop-filter: blur(18px);
    width: calc(50% - 6px);
    background: #FFFFFF33;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.application_form_input::placeholder {
    color: #fff;
}

.application_form_input:nth-child(n+2) {
    margin-left: 12px;
}

.af_select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('../imgs/select_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    cursor: pointer;
}

.af_checkbox-block {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.conf-checkbox {
    appearance: none;
    -webkit-appearance: none;
    margin-right: 12px;
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 100px;
    border: 0.5px solid #FFFFFF4F;
    background: #FFFFFF33;
    backdrop-filter: blur(18px);
    box-sizing: border-box;
    cursor: pointer;
}

.conf-checkbox:checked {
    background-image: url('../imgs/white_checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.conf-checkbox_text {
    color: #fff;
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.af_message {
    background: #FFFFFF33;
    border-radius: 32px;
    border: 0.5px solid #FFFFFF4F;
    backdrop-filter: blur(18px);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 24px 20px;
    margin-bottom: 12px;
    color: #fff;
    resize: none;
}

.af_message::placeholder {
    color: #FFFFFF80;
    font-size: 14px;

}

.mob_menu_block {
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu_list {
    padding: 0;
    margin: 0;
}

.menu_list_item {
    list-style-type: none;
    padding: 26px 0;
    border-bottom: 1px solid #F1F1F1;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 44px;
    display: flex;
    justify-content: space-between;
}

.menu_item_link {
    color: #000;
    text-decoration: none;
}

.about_item {
    background-image: url('../imgs/menu_about.svg');
}

.price_item {
    background-image: url('../imgs/menu_price.svg');
}

.menu_item_download {
    color: #D9D9D9;
    background-image: url('../imgs/download_icon.svg');
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
    padding-right: 36px;
}

.tech_item {
    background-image: url('../imgs/menu_tech.svg');
}

.table_item {
    background-image: url('../imgs/menu_table.svg');
}

.no-metall_item {
    background-image: url('../imgs/menu_no-metall.svg');
}

.subscribe_item {
    background-image: url('../imgs/menu_subscribe.svg');
}

.control_item {
    background-image: url('../imgs/menu_control.svg');
}

.license_item {
    background-image: url('../imgs/menu_license.svg');
}

.details_item {
    background-image: url('../imgs/menu_details.svg');
}

.faq_item {
    background-image: url('../imgs/menu_faq.svg');
    border-bottom: none;
}

.footer_mob {
    padding: 20px 0 157px;
}

.footer_mob_data {
    display: flex;
    justify-content: space-between;
}

.conf_policy_link {
    text-decoration: none;
    color: #84CE73;
    margin-right: 10px;
}

.copyright_text {
    color: #1C598C;
}

.bottom_menu_block {
    margin-top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.bottom_menu_list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.bottom_menu_item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_menu_link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.bottom_menu_link:nth-child(n+2) {
    margin-left: 20px;
}

.bmi_icon {
    margin-bottom: 8px;
}

.bmi_text {
    display: block;
    text-align: center;
}

@media (min-width: 708px) {
    .banner_block {
        padding-bottom: 100px;
    }
}

@media(max-width: 550px) {

    .pogruz_present {
        width: 260px;
        top: -7px;
        right: -25px;
    }

    .scrap_img {
        top: 5px;
        height: 300px;
    }

    .map_actions_block {
        display: block;
    }

    .navigator_action_top {
        margin-bottom: 15px;
    }

    .navigator_action_link {
        width: 100%;
    }

    .conf_policy_link,
    .copyright_text {
        text-align: center;
    }
}

@media(max-width: 480px) {
    .container_768 {
        padding-left: 18px;
        padding-right: 18px;
    }

    .running_line-text {
        margin-right: 15px;
        padding-left: 30px;
    }

    .banner_text_2 {
        font-size: 30px;
    }

    .pogruz_present {
        width: 230px;
        top: 10px;
        right: -20px;
    }
}

@media(max-width: 450px) {
    .grade_widget {
        width: 115px;
        height: 40px;
    }

    .search_btn, .socials_block {
        margin-right: 20px;
    }

    .pogruz_present {
        width: 210px;
        top: 16px;
        right: -15px;
    }
}


@media(max-width: 425px) {

    .bmi_text {
        font-size: 14px;
    }

}

@media(max-width: 415px) {

    .running_line-text {
        margin-right: 10px;
        font-size: 10px;
    }

    .search_btn, .socials_block {
        margin-right: 12px;
    }

    .banner_block {
        padding-bottom: 40px;
    }

    .present {
        right: 70px;
        top: 103px
    }

    .pogruz_present {
        top: 5px;
        right: -12px;
    }

    .grade_widget {
        width: 95px;
        height: 30px;
    }

    .footer_mob {
        padding-bottom: 120px;
    }

    .bottom_menu_block {
        padding: 10px 0;
    }

    .bmi_icon {
        width: 60px;
        margin-bottom: 5px;
    }

    .bottom_menu_link:nth-child(n+2) {
        margin-left: 15px;
    }
}

@media(max-width: 400px) {

    .phone_block {
        display: flex;
        justify-content: end;
    }

    .nav_block {
        position: relative;
    }

    .logo_link {
        position: absolute;
        top: -35px;
    }

    .icons_block {
        width: 100%;
        justify-content: space-between;
    }

    .burger_menu {
        top: -72px;
        right: -76%;
    }

    .bottom_menu_link:nth-child(n+2) {
        margin-left: 8px;
    }
}

@media (max-width: 380px) {

    .running_line-text {
        font-size: 9px;
    }

    .banner_block {
        padding-bottom: 70px;
    }

    .iphone {
        right: -10px;
    }

    .present {
        right: 40px;
    }

    .left_banner_block_2 {
        padding-top: 10px;
    }

    .banner_title_2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .banner_text {
        margin-bottom: 20px;
    }

    .banner_text_2 {
        font-size: 26px;
        margin-bottom: 0;
    }

    .banner_text_3 {
        margin-bottom: 0;
    }

    .pogruz_present {
        right: -20px;
        width: 190px;
        top: 20px;
    }

    .scrap_img {
        height: 280px;
        top: 30px;
    }

    .load_field {
        font-size: 14px;
        padding: 20px 10px;
        background-size: 22px;
        background-position: right 12px center;
    }

    .application_block_title {
        font-size: 18px;
    }
}


@media (max-width: 360px) {

    .running_line-text {
        margin-right: 5px;
        padding-left: 20px;
    }

    .banner_block {
        padding-top: 140px;
    }

    .banner_btn {
        width: 138px;
    }

    .scrap_img {
        height: 250px;
        top: 55px;
    }

    .price_button {
        font-size: 18px;
    }

    .grade_widgets {
        display: block;
    }

    .widget_2gis {
        margin-bottom: 10px;
    }

    .grade_widget:nth-child(n+2) {
        margin-left: 0;
    }

    .services_title_img,
    .application_title_img {
        width: 140px;
    }

    .phone_action_right {
        font-size: 14px;
        padding-right: 30px;
    }

    .menu_item_link {
        font-size: 14px;
    }

    .conf_policy_link, .copyright_text {
        font-size: 14px;
    }

    .bmi_text {
        font-size: 12px;
    }
}

@media (max-width: 330px) {

    .container_768 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .phone_link {
        font-size: 14px;
    }
}
